* {
    margin: 0;
    box-sizing: border-box;
}

.TableCarros {
    float: left;
    width: 80%;
    margin: 30px 10%;
    text-align: center;
}

.TableCarros thead tr:nth-child(1) {
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.TableCarros tbody tr:nth-child(odd) {
    background-color: #ccc;
}